<a href="https://colab.research.google.com/github/Tech-hu/Assign---2/blob/main/Copy_of_Copy_of_Copy_of_DA_Assignment_3_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [ ]:
In[1]
7**4
'out'[1]

'u'

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [ ]:
In[2]
s="Hi there sam!"
s=s.split()
print(s)
['Hi','there','sam']

['Hi', 'there', 'sam!']

['Hi', 'there', 'sam']

In [ ]:
In[2]
s="Hi there dad!"
s=s.split()
print(s)
['Hi','there','dad']

['Hi', 'there', 'dad!']

['Hi', 'there', 'dad']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [ ]:

planet="Earth"
diameter=12742

In [ ]:
In[4]="Earth"
diameter=12742
print('The diameter of {} is {} kilometers.')

The diameter of {} is {} kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [ ]:
In[5]
Ist =[1,2,[3,4] ,[5,[100,200,['hello']],23,11],1,7]

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [ ]:
d={'k1':[1,2,3,{'tricky':
['oh','man','inception',{'target':
[1,2,3,'hello']}]}]}

** What is the main difference between a tuple and a list? **

In [ ]:
In[9]
#Tuple is immutable
# Tuple operations are safe.
#Tuple consumes less memory.

"In[5]\n1st=[1,2,[3,4]],[5,[100,200,['hello']],23,11]"

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [ ]:
In[10]
def domainGet(email):
  print (" your domain is:"+email. split('@')[-1])
  email=input("please enter your email1:>")
  domainGet(email)

In [ ]:
In[11]
domainGet:('user@domain.com')

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [ ]:
In[12]
def findDog(st):
  if 'dog 'in st.lower():
    print("Ttue")
  else:
    print("flase")
    st="Is there a dog here?"
    findDog(st)

In [ ]:
In[13]
findDog('Is there a dog here?')

Ttue

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [ ]:
In[14]
value='this dog run faster than the other dog dude!';
def countdogs(value):
  count=0
  for word in value.lower().split():
    if word =='dog'or word == 'dogs':
       count =count + 1
       print (count)
       countdogs(value)

In [ ]:
1
2

2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [ ]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [ ]:
In[17]
def caught_speeding(speed,is_birthday):
  pass

In [ ]:
In[18]
caught_speeding(81,True)
In[19]
caught_speeding(81,False)

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [ ]:
 employee_names = ["Ram","Shyam","Asha","Priya","Rahul"]
 employee_salaries ={}
 for employee in employee_names:
  while True:
   try:
     employee_salaries[employee] = int(input("Enter{}'s salary".format(employee)))
     break
   except ValueError :
    print ("Invalid input")
   Print (employee_salaries)
   total = sum(employee_salaries.value())
   print(total)
   "Enter {Ram}'s salary 10000"
   "Enter {shyam}'s salary 20000"
  "Enter {Asha}'s salary 30000"
  "Enter {Priya}'s salary 40000"
  "Enter {Rahul}'s salary 50000"
  {'Ram':10000,'Shyam':20000,'Asha':30000,'Priya':40000,'Rahul':50000 }
  150000

EnterRam's salary10000
EnterShyam's salary20000
EnterAsha's salary30000
EnterPriya's salary40000
EnterRahul's salary50000

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [ ]:
def merge(dict1,dict2):
  res ={**dict1,**dict2}
  return res
d1 = {"Empid": 1,
      "Empname": "Ram",
      "Basicpay": 10000}
d2 = {"DeptName": "CSE",
      "DeptId": 104}
d3 =(d1,d2)
print(d3)

({'Empid': 1, 'Empname': 'Ram', 'Basicpay': 10000}, {'DeptName': 'CSE', 'DeptId': 104})